[user]
    name = Junichiro Takagi
    email = t.junichiro@gmail.com
    signingkey = TBD

[color]
    ui = auto

[core]
    editor = vim
    excludesfile = ~/.gitignore
    difftool = true
    autocrlf = input
    safecrlf = true

[push]
    default = tracking
[pull]
    rebase = merges

[branch]
    autosetuprebase = always
[init]
	defaultBranch = main

[commit]
    verbose = true
    gpgsign = true

[merge]
    conflictstyle = diff3
    ff = false

[diff]
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true

[alias]
    st = status
    sh = show
    sw = switch
    co = checkout
    ci = commit -S -v
    br = branch
    ad = add -p
    di = diff
    dc = diff --cached
    merge = merge -S
    revert = revert -S
    rebase = rebase -S
    s = status --short --branch
    d = diff
    grep = grep --line-number --show-function --color --heading --break
    current-branch = rev-parse --abbrev-ref HEAD
    ap = add -p
    see = !gh repo view --web
    main = !"git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'"

[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true

[url "github.com:"]
    insteadOf = https://github.com
[http]
    sslVerify = true
[http "https://gopkg.in"]
    followRedirects = true
[ghq]
    root = ~/dev/src
[gpg]
	format = ssh
