[user]
    name = Junichiro Takagi
    email = t.junichiro@gmail.com

[include]
    # A local gitconfig, outside of version control.
    # If the file doesn't exist it is silently ignored
    # Write signing keys and other secrets here.
    path = ~/.gitconfig-local

[color]
    ui = auto

[column]
    ui = auto

[branch]
    sort = -committerdate
    autosetuprebase = always
[core]
    editor = vim
    excludesfile = ~/.gitignore
    difftool = true
    autocrlf = input
    safecrlf = true
    fsmonitor = true
    untrackedcache = true
# read https://tech.mirrativ.stream/entry/2025/02/25/100000

[push]
    default = tracking
    autoSetupRemote = true
    followTags = true
[pull]
    rebase = merges
[fetch]
        prune = true
        pruneTags = true
        all = true

[init]
	defaultBranch = main

[commit]
    verbose = true
    gpgsign = true

[merge]
    conflictstyle = zdiff3
    ff = false

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true

[alias]
    st = status
    sh = show
    sw = switch
    co = checkout
    ci = commit -S -v
    br = branch
    ad = add -p
    di = diff
    dc = diff --cached
    merge = merge -S
    revert = revert -S
    rebase = rebase -S
    rs = restore
    s = status --short --branch
    d = diff
    grep = grep --line-number --show-function --color --heading --break
    current-branch = rev-parse --abbrev-ref HEAD
    ap = add -p
    see = !gh repo view --web
    main = !"git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'"
    recent-branch = for-each-ref --sort=-committerdate refs/heads/ --count=5 --format='%(refname:short)'
    fw = "!f() { git fetch origin $1 && git switch $1; }; f"
    wa = "!f() { git worktree add .git/wts/$1 -b $1 main; }; f"

[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true

[url "github.com:"]
    insteadOf = https://github.com
[http]
    sslVerify = true
[http "https://gopkg.in"]
    followRedirects = true
[ghq]
    root = ~/dev/src
[gpg]
	format = ssh
[tag]
    sort = version:refname
[help]
    autocorrect = prompt
